<%= form_with(model: bodega) do |form| %>
  <% if bodega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bodega.errors.count, "error") %> prohibited this bodega from being saved:</h2>

      <ul>
        <% bodega.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-6 mt-2">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Nombre requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :descripcion, class: "form-label" %>
    <%= form.text_field :descripcion, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Descripcion requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :direccion, class: "form-label" %>
    <%= form.text_field :direccion, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Dirección requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :comuna, class: "form-label" %>
    <%= form.text_field :comuna, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Comuna requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :region, class: "form-label" %>
    <%= form.text_field :region, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Región requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :pais, class: "form-label" %>
    <%= form.text_field :pais, class: "form-control", required: true %>
    <div class="invalid-feedback">
         País requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :actividads_id, class: "form-label" %>
    <%= form.text_field :actividads_id, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Nombre requerido.
    </div>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Crear Bodega", :class => "btn btn-primary text-decoration-none" %>
  </div>
<% end %>
<br>