<div class="card shadow mb-4">
        <div class="card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Bodegas</h3>
                            <%= link_to 'Nueva Bodega', new_bodega_path, :class => "btn btn-primary text-decoration-none" %>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Dirección</th>
      <th>Comuna</th>
      <th>Región</th>
      <th>País</th>
      <th>Actividades</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bodegas.each do |bodega| %>
      <tr>
        <td><%= bodega.nombre %></td>
        <td><%= bodega.descripcion %></td>
        <td><%= bodega.direccion %></td>
        <td><%= bodega.comuna %></td>
        <td><%= bodega.region %></td>
        <td><%= bodega.pais %></td>
        <td><%= bodega.actividads_id %></td>
        <td><%= link_to 'Mostrar', bodega, :class => "btn btn-primary text-decoration-none" %></td>
        <td><%= link_to 'Editar', edit_bodega_path(bodega), :class => "btn btn-primary text-decoration-none" %></td>
        <td><%= link_to 'Eliminar', bodega, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary text-decoration-none" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


