<%= form_with(model: campo) do |form| %>
  <% if campo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campo.errors.count, "error") %> prohibited this campo from being saved:</h2>

      <ul>
        <% campo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-6 mt-2">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :superficie, class: "form-label" %>
    <%= form.text_field :superficie, class: "form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :explotacions_id, class: "form-label" %>
    <%= form.text_field :explotacions_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Campo", :class => "btn btn-primary text-decoration-none"  %>
  </div>
<% end %>
