<script src="https://worksystems.cl/jsproject/bootstrap.bundle.min.js"></script>
<div class="card shadow mb-4">
        <div class="card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Trabajadores</h3>
                            <%= link_to 'Nuevo Trabajador', new_trabajador_path, :class => "btn btn-primary text-decoration-none" %>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo trabajador</th>
      <th>Rut</th>
      <th>Carnet aplicador</th>
      <th>Calificacion</th>
      <th>Asesor</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Localidad</th>
      <th>Comuna</th>
      <th>Region</th>
      <th>Pais</th>
      <th>Foto</th>
      <th>Comentarios</th>
      <th>Tipo trabajadors</th>
      <th>Actividads</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trabajadors.each do |trabajador| %>
      <tr>
        <td><%= trabajador.nombre %></td>
        <td><%= trabajador.tipo_trabajador %></td>
        <td><%= trabajador.rut %></td>
        <td><%= trabajador.carnet_aplicador %></td>
        <td><%= trabajador.calificacion %></td>
        <td><%= trabajador.asesor %></td>
        <td><%= trabajador.email %></td>
        <td><%= trabajador.telefono %></td>
        <td><%= trabajador.direccion %></td>
        <td><%= trabajador.localidad %></td>
        <td><%= trabajador.comuna %></td>
        <td><%= trabajador.region %></td>
        <td><%= trabajador.pais %></td>
        <td><%= trabajador.foto %></td>
        <td><%= trabajador.comentarios %></td>
        <td><%= trabajador.tipo_trabajadors_id %></td>
        <td><%= trabajador.actividads_id %></td>
        <td><%= link_to 'Mostrar', trabajador, :class => "btn btn-primary text-decoration-none" %></td>
        <td><%= link_to 'Editar', edit_trabajador_path(trabajador), :class => "btn btn-primary text-decoration-none" %></td>
        <td><%= link_to 'Eliminar', trabajador, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary text-decoration-none" %></td>
      </tr>
    <% end %>
  </tbody>
<br>
                        
                        </table>
                            </div>
                        </div>
      </div>

</div>
                <!-- /.container-fluid -->