<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @trabajador.nombre %>
</p>

<p>
  <strong>Tipo trabajador:</strong>
  <%= @trabajador.tipo_trabajador %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @trabajador.rut %>
</p>

<p>
  <strong>Carnet aplicador:</strong>
  <%= @trabajador.carnet_aplicador %>
</p>

<p>
  <strong>Calificacion:</strong>
  <%= @trabajador.calificacion %>
</p>

<p>
  <strong>Asesor:</strong>
  <%= @trabajador.asesor %>
</p>

<p>
  <strong>Email:</strong>
  <%= @trabajador.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @trabajador.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @trabajador.direccion %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @trabajador.localidad %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @trabajador.comuna %>
</p>

<p>
  <strong>Region:</strong>
  <%= @trabajador.region %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @trabajador.pais %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @trabajador.foto %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @trabajador.comentarios %>
</p>

<p>
  <strong>Tipo trabajadors:</strong>
  <%= @trabajador.tipo_trabajadors_id %>
</p>

<p>
  <strong>Actividads:</strong>
  <%= @trabajador.actividads_id %>
</p>

<%= link_to 'Edit', edit_trabajador_path(@trabajador) %> |
<%= link_to 'Back', trabajadors_path %>
