<%= form_with(model: actividad) do |form| %>
  <% if actividad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actividad.errors.count, "error") %> prohibited this actividad from being saved:</h2>

      <ul>
        <% actividad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-6 mt-2">
    <%= form.label :actividad_para, class: "form-label" %>
    <%= form.text_field :act_para, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Actividad Para requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :trabajo, class: "form-label" %>
    <%= form.text_field :trabajo, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Tipo de trabajo requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :fecha, class: "form-label" %>
    <%= form.date_select :fecha, required: true %>
    <div class="invalid-feedback">
         Fecha requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :campo, class: "form-label" %>
    <%= form.text_field :campo, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Campo requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :fitosanitario, class: "form-label" %>
    <%= form.text_field :fitosanitario, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Fitosanitario requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :dosis, class: "form-label" %>
    <%= form.text_field :dosis, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Dosis requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :cantidad, class: "form-label" %>
    <%= form.text_field :cantidad, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :litros_caldo, class: "form-label" %>
    <%= form.text_field :litros_caldo, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Litros de Caldo requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :plaga, class: "form-label" %>
    <%= form.text_field :plaga, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :justifica_tratamiento, class: "form-label" %>
    <%= form.text_field :justifica_tratamiento, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :numero_lote, class: "form-label" %>
    <%= form.text_field :numero_lote, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :bodega, class: "form-label" %>
    <%= form.text_field :bodega, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :det_med_no_quimica, class: "form-label" %>
    <%= form.text_field :det_med_no_quimica, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :tipo_actuacion, class: "form-label" %>
    <%= form.text_field :tipo_actuacion, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :intensidad_actuacion, class: "form-label" %>
    <%= form.text_field :intensidad_actuacion, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :fecha_actuacion, class: "form-label" %>
    <%= form.date_select :fecha_actuacion, required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :trabajador, class: "form-label" %>
    <%= form.text_field :trabajador, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :maquina, class: "form-label" %>
    <%= form.text_field :maquina, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Cantidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :horas, class: "form-label" %>
    <%= form.time_select :horas, required: true %>
    <div class="invalid-feedback">
         Horas requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :minutos, class: "form-label" %>
    <%= form.time_select :minutos, required: true %>
    <div class="invalid-feedback">
         Minutos requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :notas, class: "form-label" %>
    <%= form.text_area :notas, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Nota requerido.
    </div>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Crear Actividad", :class => "btn btn-primary text-decoration-none"  %>
  </div>
<% end %>
<br>

