<p id="notice"><%= notice %></p>

<p>
  <strong>Act para:</strong>
  <%= @actividad.act_para %>
</p>

<p>
  <strong>Trabajo:</strong>
  <%= @actividad.trabajo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @actividad.fecha %>
</p>

<p>
  <strong>Campo:</strong>
  <%= @actividad.campo %>
</p>

<p>
  <strong>Fitosanitario:</strong>
  <%= @actividad.fitosanitario %>
</p>

<p>
  <strong>Dosis:</strong>
  <%= @actividad.dosis %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @actividad.cantidad %>
</p>

<p>
  <strong>Litros caldo:</strong>
  <%= @actividad.litros_caldo %>
</p>

<p>
  <strong>Plaga:</strong>
  <%= @actividad.plaga %>
</p>

<p>
  <strong>Justifica tratamiento:</strong>
  <%= @actividad.justifica_tratamiento %>
</p>

<p>
  <strong>Numero lote:</strong>
  <%= @actividad.numero_lote %>
</p>

<p>
  <strong>Bodega:</strong>
  <%= @actividad.bodega %>
</p>

<p>
  <strong>Det med no quimica:</strong>
  <%= @actividad.det_med_no_quimica %>
</p>

<p>
  <strong>Tipo actuacion:</strong>
  <%= @actividad.tipo_actuacion %>
</p>

<p>
  <strong>Intensidad actuacion:</strong>
  <%= @actividad.intensidad_actuacion %>
</p>

<p>
  <strong>Fecha actuacion:</strong>
  <%= @actividad.fecha_actuacion %>
</p>

<p>
  <strong>Trabajador:</strong>
  <%= @actividad.trabajador %>
</p>

<p>
  <strong>Maquina:</strong>
  <%= @actividad.maquina %>
</p>

<p>
  <strong>Horas:</strong>
  <%= @actividad.horas %>
</p>

<p>
  <strong>Minutos:</strong>
  <%= @actividad.minutos %>
</p>

<p>
  <strong>Notas:</strong>
  <%= @actividad.notas %>
</p>

<%= link_to 'Edit', edit_actividad_path(@actividad) %> |
<%= link_to 'Back', actividads_path %>
