<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @representacion.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @representacion.descripcion %>
</p>

<p>
  <strong>Representantes:</strong>
  <%= @representacion.representantes_id %>
</p>

<p>
  <strong>Explotacions:</strong>
  <%= @representacion.explotacions_id %>
</p>

<%= link_to 'Edit', edit_representacion_path(@representacion) %> |
<%= link_to 'Back', representacions_path %>
