<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @fitosanitario.nombre %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @fitosanitario.registro %>
</p>

<p>
  <strong>Funcion:</strong>
  <%= @fitosanitario.funcion %>
</p>

<p>
  <strong>Fabricante:</strong>
  <%= @fitosanitario.fabricante %>
</p>

<p>
  <strong>Fecha caducidad:</strong>
  <%= @fitosanitario.fecha_caducidad %>
</p>

<p>
  <strong>Ambito utilizacion:</strong>
  <%= @fitosanitario.ambito_utilizacion %>
</p>

<p>
  <strong>Unidades:</strong>
  <%= @fitosanitario.unidades %>
</p>

<p>
  <strong>Litros caldo defecto:</strong>
  <%= @fitosanitario.litros_caldo_defecto %>
</p>

<p>
  <strong>Cultivo:</strong>
  <%= @fitosanitario.cultivo %>
</p>

<p>
  <strong>Dosis:</strong>
  <%= @fitosanitario.dosis %>
</p>

<p>
  <strong>Unidades dosis:</strong>
  <%= @fitosanitario.unidades_dosis %>
</p>

<p>
  <strong>Periodo seguridad:</strong>
  <%= @fitosanitario.periodo_seguridad %>
</p>

<p>
  <strong>Ficha tecnica:</strong>
  <%= @fitosanitario.ficha_tecnica %>
</p>

<p>
  <strong>Actividads:</strong>
  <%= @fitosanitario.actividads_id %>
</p>

<%= link_to 'Edit', edit_fitosanitario_path(@fitosanitario) %> |
<%= link_to 'Back', fitosanitarios_path %>
