<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Apellido materno:</strong>
  <%= @usuario.apellido_materno %>
</p>

<p>
  <strong>Apellido paterno:</strong>
  <%= @usuario.apellido_paterno %>
</p>

<p>
  <strong>Email:</strong>
  <%= @usuario.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @usuario.password %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
