<%= form_with(model: explotacion) do |form| %>
  <% if explotacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(explotacion.errors.count, "error") %> prohibited this explotacion from being saved:</h2>

      <ul>
        <% explotacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-6 mt-2">
    <%= form.label :nombre_explotacion, class: "form-label" %>
    <%= form.text_field :nombre_explotacion, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Nombre requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :rut, class: "form-label" %>
    <%= form.text_field :rut, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Rut requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Email requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :direccion, class: "form-label" %>
    <%= form.text_field :direccion, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Dirección requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :telefono, class: "form-label" %>
    <%= form.text_field :telefono, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Telefono requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :localidad, class: "form-label" %>
    <%= form.text_field :localidad, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Localidad requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :comuna, class: "form-label" %>
    <%= form.text_field :comuna, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Comuna requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :region, class: "form-label" %>
    <%= form.text_field :region, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Región requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :pais, class: "form-label" %>
    <%= form.text_field :pais, class: "form-control", required: true %>
    <div class="invalid-feedback">
         País requerido.
    </div>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :thumbnail, class: "form-label" %>
    <%= form.text_field :thumbnail, class: "form-control" %>
    
  </div>

  <div class="col-6 mt-2">
    <%= form.label :image, class: "form-label" %>
    <%= form.text_field :image, class: "form-control" %>
    
  </div>

  <div class="col-6 mt-2">
    <%= form.label :nacional, class: "form-label" %>
    <%= form.text_field :nacional, class: "form-control", required: true %>
    <div class="invalid-feedback">
         Nacional requerido.
    </div>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Crear Explotación", :class => "btn btn-primary text-decoration-none" %>
  </div>
<% end %>
