<script src="../assets/config/bootstrap.bundle.min.js"></script>
<div class="card shadow mb-4">
        <div class="card-header py-3">
                            <h3 class="m-0 font-weight-bold text-primary">Explotaciones</h3>
                            <%= link_to 'Nueva Explotacion', new_explotacion_path, :class => "btn btn-primary text-decoration-none" %>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

  <thead>
    <tr>
      <th>Nombre explotacion</th>
      <th>Rut</th>
      <th>Email</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Localidad</th>
      <th>Comuna</th>
      <th>Region</th>
      <th>Pais</th>
      <th>Thumbnail</th>
      <th>Image</th>
      <th>Nacional</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @explotacions.each do |explotacion| %>
      <tr>
        <td><%= explotacion.nombre_explotacion %></td>
        <td><%= explotacion.rut %></td>
        <td><%= explotacion.email %></td>
        <td><%= explotacion.direccion %></td>
        <td><%= explotacion.telefono %></td>
        <td><%= explotacion.localidad %></td>
        <td><%= explotacion.comuna %></td>
        <td><%= explotacion.region %></td>
        <td><%= explotacion.pais %></td>
        <td><%= explotacion.thumbnail %></td>
        <td><%= explotacion.image %></td>
        <td><%= explotacion.nacional %></td>
        <td><%= link_to 'Mostrar', explotacion, :class => "btn btn-primary text-decoration-none" %></td>
        <td><%= link_to 'Editar', edit_explotacion_path(explotacion), :class => "btn btn-primary text-decoration-none" %></td>
        <td><%= link_to 'Eliminar', explotacion, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary text-decoration-none" %></td>
      </tr>
    <% end %>
  </tbody>


</table>
                            </div>
                        </div>
      </div>

</div>
                <!-- /.container-fluid -->
