<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre explotacion:</strong>
  <%= @explotacion.nombre_explotacion %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @explotacion.rut %>
</p>

<p>
  <strong>Email:</strong>
  <%= @explotacion.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @explotacion.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @explotacion.telefono %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @explotacion.localidad %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @explotacion.comuna %>
</p>

<p>
  <strong>Region:</strong>
  <%= @explotacion.region %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @explotacion.pais %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @explotacion.thumbnail %>
</p>

<p>
  <strong>Image:</strong>
  <%= @explotacion.image %>
</p>

<p>
  <strong>Nacional:</strong>
  <%= @explotacion.nacional %>
</p>

<%= link_to 'Edit', edit_explotacion_path(@explotacion) %> |
<%= link_to 'Back', explotacions_path %>
