<%= form_with(model: maquinarium) do |form| %>
  <% if maquinarium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(maquinarium.errors.count, "error") %> prohibited this maquinarium from being saved:</h2>

      <ul>
        <% maquinarium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-6 mt-2">
    <%= form.label :nombre, class: "form-label" %>
    <%= form.text_field :nombre, class: "form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :descripcion, class: "form-label" %>
    <%= form.text_field :descripcion, class: "form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :tipo_maquinaria, class: "form-label" %>
    <%= form.text_field :tipo_maquinaria, class: "form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :marca, class: "form-label" %>
    <%= form.text_field :marca, class: "form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :modelo, class: "form-label" %>
    <%= form.text_field :modelo, class: "form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :alquilada, class: "form-label" %>
    <%= form.text_field :alquilada, class: "form-control" %>
  </div>

  <div class="col-6 mt-2">
    <%= form.label :actividads_id, class: "form-label" %>
    <%= form.text_field :actividads_id, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Crear Maquinaria", :class => "btn btn-primary text-decoration-none"  %>
  </div>
<% end %>
