<%= form_with(model: marca_maquinarium) do |form| %>
  <% if marca_maquinarium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(marca_maquinarium.errors.count, "error") %> prohibited this marca_maquinarium from being saved:</h2>

      <ul>
        <% marca_maquinarium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo %>
  </div>

  <div class="field">
    <%= form.label :fecha_fabricacion %>
    <%= form.date_select :fecha_fabricacion %>
  </div>

  <div class="field">
    <%= form.label :maquinaria_id %>
    <%= form.text_field :maquinaria_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
